{% extends 'layout.html' %}


{% block body %}


	<h1>{{job.jobtitle}}</h1>
<!--	<p>Salary: {{job.salary}}</small>
	<p>Location: {{job.location}}</small>
	<p>Job Ref: {{job.id}}</small>
	<p>Created Date: {{job.create_date}}</small>
	<p>Contact Info: {{job.contact}}</small>
	<p><a href="job/{{job.id}}" class="btn btn-default">Apply</a></p>
	<hr>

	<h2>Company Information</h2>
	<hr>

	<h2>The Role</h2>
	<p>{{job.description}}</p>
	<hr>

	<h2>The Technology Stack</h2>
	<hr>	-->


</div>
{% endblock %}
