{% extends 'layout.html' %}

{% block body %}

<center>
      <div class="jumbotron">
        <h1>Boom Technology</h1>
        <h2>Software Developer Recruitment</h2>
        <p>Check out our current apps below.</p>
        <p>
          <a class="btn btn-default" href="/role" role="button">Role</a>
          <a class="btn btn-default" href="/candidate" role="button">Candidate</a>
          <a class="btn btn-default" href="/registration" role="button">Register</a>

        </p>
      </div>
</center>
<hr>

       <div class="container">
        <h4>Contact Information</h4>
        <p><a href="mailto:hello@topdevelopers.co.uk">hello@topdevelopers.co.uk</a></p>
        <p>+44 207 193 1605</p>
        <p><a href="https://twitter.com/top_developers"> Twitter</a></p>
        <p><a href="https://www.linkedin.com/company-beta/17925810/"> Linkedin</a></p>
        <p><a href="https://www.facebook.com/topdevelopersuk/"> Facebook</a></p>
        <p>Boom Technology Group Ltd Registered Company No. 10763217</p>
      </div>

    </div>



{% endblock %}

